body {
  color: black;
  font-family: "Montserrat", sans-serif;
}
.con-a {
  background-color: #f0f0f0;
  height: 1170px;
}
.con-imga {
  text-align: center;
}
.con-img {
  width: 70%;
}
.con1 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;

  padding-top: 25px;
}
.con2 {
  font-weight: 700;
  text-align: center;
}
.boxy {
  display: flex;
  flex-direction: row;
  padding-left: 48px;
}
.boxy1,
.boxy2 {
  background-color: white;
  width: 600px;
  height: 300px;
  margin-right: 40px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 0.2);
  text-align: center;
  padding: 90px 0;
}
.cont-e {
  font-size: 25px;
  padding-top: 12px;
  font-weight: 600;
}
.form-a {
  margin-top: 40px;
  justify-content: center;
  display: block;
  text-align: center;
  background-color: white;
  /* margin-bottom: 50px; */
  height: 650px;
}
input {
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  /* -webkit-transition: 0.5s; */
  /* transition: 0.5s; */
  outline: none;
  width: 800px;
  height: 60px;
  margin-bottom: 40px;
}
#message {
  height: 100px;
}
input:focus {
  border: 2px solid #cc335f;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  padding-left: 20px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  padding-left: 20px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  padding-left: 20px;
}
.button {
  width: 800px;
  height: 55px;
  border: 0;
  color: white;
  background-color: #cc335f;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-weight: bold;
  font-size: 20px;
}
.button:hover {
  background-color: #992d4b;
}
@media (max-width: 480px) {
  /* Your styles for mobile phones in portrait mode */
  input, .button {
    width: 300px;
  }
  .boxy {
    display: block;
    /* flex-direction: row; */
    padding-left: 0px;
    text-align: center;
  }
  .boxy1,
  .boxy2 {
    background-color: white;
    width: 310px;
    height: 300px;
    margin-right: 0px;
    padding: 90px 0;
  }
  .boxy2 {
    margin-top: 25px;
  }
  .cont-e {
    font-size: 20px;
  }
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  input {
    width: 300px;
  }
  .button {
    width: 300px;
  }
  .boxy {
    display: block;
    /* flex-direction: row; */
    padding-left: 0px;
    text-align: center;
  }
  .boxy1,
  .boxy2 {
    background-color: white;
    width: 365px;
    height: 300px;
    margin-right: 0px;
    padding: 90px 0;
  }
  .boxy2 {
    margin-top: 25px;
  }
  .con-img {
    width: 800px;
  }
  .con2 {
    font-size: 14px;
  }
  .cont-e {
    font-size: 20px;
  }
  .boxy1,
  .boxy2 {
    width: 330px;
    height: 240px;
    padding: 60px 0;
  }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  input {
    width: 365px;
  }
  .button {
    width: 365px;
  }
  .boxy {
    display: block;
    /* flex-direction: row; */
    padding-left: 0px;
    text-align: center;
  }
  .boxy1,
  .boxy2 {
    background-color: white;
    width: 365px;
    height: 270px;
    margin-right: 0px;
    padding: 68px 0;
  }
}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  input {
    width: 300px;
  }
  .button {
    width: 300px;
  }
  .boxy {
    display: block;
    /* flex-direction: row; */
    padding-left: 0px;
  }
}
/* ----------- TABLET ----------- */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Your styles for tablets in portrait mode */
  .boxy1,
  .boxy2 {
    background-color: white;
    width: 330px;
    height: 270px;
    margin-right: 35px;
    padding: 68px 0;
  }
  .boxy1 {
    margin-left: -11px;
  }
  input {
    width: 600px;
  }
  .button {
    width: 600px;
    height: 56px;
  }

  .cont-e {
    font-size: 20px;
  }
}

/* small laptop and large tabs */
@media (min-width: 1200px) and (max-width: 1365px) {
  input {
    width: 600px;
  }
  .button {
    width: 600px;
    height: 56px;
  }
  .boxy1,
  .boxy2 {
    background-color: white;
    width: 325px;
    height: 270px;
    margin-right: 35px;
    padding: 68px 0;
  }
  .boxy1 {
    margin-left: -10px;
  }
  .cont-e {
    font-size: 20px;
  }
}
