/* Add your custom styles here */
body {
  margin: 0;
  padding: 0;
}

.navbar-pc {
  background-color: #e6e6e6;
  color: black;
  height: 5.2vh;
  border: 0;
  /* padding: 10px; */
}

.navbar-itempcspc {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.navbar-itempc,
.navbar-itempc2,
.navbar-itempc3,
.navbar-itempc4,
.navbar-itempc5,
.navbar-itempc6 {
  position: relative;
  padding: 10px;
  cursor: pointer;
  font-size: 70%;
  font-weight: bold;
}
.navbar-itempc:hover,
.navbar-itempc2:hover,
.navbar-itempc3:hover,
.navbar-itempc4:hover,
.navbar-itempc5:hover,
.navbar-itempc6:hover {
  border-bottom: 4px #cc335f solid;
}

.subsectionpcspc {
  display: none;
  position: absolute;
  top: 112%;
  width: 91vw;
  /* left: 100px; */
  background-color: white;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.subsectionpcspc2 {
  display: none;
  position: absolute;
  top: 112%;
  width: 91vw;
  left: -14vw;
  background-color: white;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.subsectionpcspc3 {
  display: none;
  position: absolute;
  top: 112%;
  width: 91vw;
  left: -32.5vw;
  background-color: white;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.subsectionpcspc4 {
  display: none;
  position: absolute;
  top: 112%;
  width: 91vw;
  left: -52vw;
  background-color: white;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.subsectionpcspc5 {
  display: none;
  position: absolute;
  top: 112%;
  width: 91vw;
  left: -66.5vw;
  background-color: white;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.subsectionpcspc6 {
  display: none;
  position: absolute;
  top: 112%;
  width: 91vw;
  left: -83.5vw;
  background-color: white;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.subsectionpc {
  display: flex;
  /* text-align: center; */
  /* flex-direction: column;  */
  align-items: center;
  color: #fff;
  margin-bottom: 5px;
}

.subsectionpc img {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
}

.subsectionpc-text {
  margin-left: -50%;
  /* white-space: nowrap;  */
  color: black;
}

@media only screen and (min-device-width: 770px) and (max-device-width: 1100px) {
  .navbar-itempcspc {
    padding-top: 0.6vh;
  }
  .navbar {
    height: 50px;
  }
  .subsectionpcspc,
  .subsectionpcspc2,
  .subsectionpcspc3,
  .subsectionpcspc4,
  .subsectionpcspc5,
  .subsectionpcspc6 {
    top: 130%;
  }
}

@media only screen and (max-device-width: 769px) {
  .pcnav {
    display: none;
  }
}
